.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 100%;
  padding: 48px;
  margin-bottom: 24px;
  border: 1px solid;
}

.custom-form-input {
  display: flex;
  flex-direction: column;
  margin: 12px 0px;
}

select {
  width: 100%;
  padding: 12px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  background: none;
  background-color: white;
  border: none;
  border-bottom: 1px solid grey;
}

input[type="file"] {
  width: 100%;
  padding: 12px 0px;
}
